@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.app-container{
  display: flex;
  justify-content: center;
  height:100vh;
  padding-bottom: 25px;
 
}

.app-store{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  max-width:600px;
  padding:0 12px;
  
}

.categories-name-container{
  display: flex;
  flex-direction: column;
  width:100%;
  margin-top:20px;
  overflow-y: auto;
}

.category-name{
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

.category-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2{
  font-size:16px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #1c1c1c;
  
}

.footer-section-container{
  width:100%;
  background-color:#FFFAF4;
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-top:25px;
}

.count-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count-container h3{
  font-weight:600;
  font-size:14px;
  color:#1C1C1C;
  margin-right:10px;
}

.count-container span{
  font-weight: 700;
  font-size:14px;
}

.continue-button{
  background-color:#1C1C1C;
  padding-top:12px;
  padding-right:28px;
  padding-bottom: 10px;
  padding-left:28px;
  border-radius: 8px;
  color:#FFFFFF;
  font-weight: 700;
  font-size:14px;
  margin-top:25px;
}

@media screen and (min-width:767px){
  .continue-button{
    align-self: center;
  }
}

.arr-btn{
    border:none;
    outline:none;
    background-color: transparent;
    cursor: pointer;
}