@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
.dishes-list-container{
    list-style-type: none;
    width:100%;
    padding-left:0px;
    margin-top:20px;
}